@import "tailwindcss";

@theme {
  --font-family-sans: "Oswald", sans-serif;
  --font-heading: "Oswald", sans-serif;
  --color-brand: #E8412C;
  --color-dark: #0d0d0d;
}

@utility vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
}
